.syntax--source.syntax--python {
  .syntax--keyword.syntax--operator.syntax--logical.syntax--python {
    color: @hue-5;
  }

  .syntax--variable.syntax--parameter {
    color: @hue-6;
  }

  .syntax--support.syntax--function {
    color: @hue-2;
  }

   .syntax--string.syntax--quoted.syntax--double.syntax--block.syntax--python {
    color: @mono-2;
      .syntax--punctuation.syntax--definition {
        color: @mono-2;
      }
  }
}
